:root {
    --blanco:#fff;
    --oscuro:#212121;
    --primario:#ffc107;
    --secundario:#0097a7;
    --gris:#757575;
}



.titulo {
    font-size: 2.7rem;
}    

.titulo span{
    font-size: 1rem;
}


h1, h2, h3 {
        text-align: center;
}

.background-color {
        background-color: var(--secundario);
}

.navegacion-principal{
    background-color: var(--secundario);
    margin: 0px auto; /* para centrar la barra*/
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navegacion-principal a{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blanco);
    padding: 6px;
    text-decoration: none;
}

.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);

}

.mainPhotoHero {
    background-image: url(/img/hero.jpg);
  
}

